:root {
	--font-family-sans-serif: -apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		"Helvetica Neue",
		Arial,
		"Noto Sans",
		"Liberation Sans",
		sans-serif,
		"Apple Color Emoji",
		"Segoe UI Emoji",
		"Segoe UI Symbol",
		"Noto Color Emoji";
	--font-family-monospace: SFMono-Regular,
		Menlo, Monaco,
		Consolas,
		"Liberation Mono",
		"Courier New",
		monospace;
	--font-family-montserrat: 'Montserrat', sans-serif;
	--font-family-red_hat_display: 'Red Hat Display', sans-serif;
	--font-family-syne: 'Syne', sans-serif;

	--font-size: 16px;
	--font-weight: 400;
	--line-height: 160%;

	$hex-white: #fff;
	$hex-black: #000;
	$hex-danger: #b0281e;
	$hex-success: #2f7011;
	$hex-warning: #c9942a;

	$hex-background: #6885b8;
	$hex-bsky: #2F80ED;
	$hex-gray: #E0E0E0;

	@include create-color('white', $hex-white, $hex-white);
	@include create-color('black', $hex-black, $hex-black);
	@include create-color('danger', $hex-danger, $hex-danger);
	@include create-color('success', $hex-success, $hex-success);
	@include create-color('warning', $hex-warning, $hex-warning);

	@include create-color('background', $hex-background, $hex-background);
	@include create-color('bsky', $hex-bsky, $hex-bsky);
	@include create-color('gray', $hex-gray, $hex-gray);

	@include create-color('text', $hex-black, $hex-white);

	--container_spacing: 24px;
}