.git/
.github/
*.md
build.sh
build.ps1
compose.yml
data/

app/.env
app/data/
app/node_modules/
app/tests/
app/vendor/
app/bootstrap/cache/*.php
app/storage/framework/cache/data/*
app/storage/framework/sessions/*
app/storage/framework/views/*
app/storage/logs/*
