*.log
.DS_Store
.env
.env.backup
.env.production
.phpunit.result.cache
/.idea
/.phpunit.cache
/.vscode
/auth.json
/public/storage
/storage/*.key
/storage/pail
/vendor
Thumbs.db

# Published by "php artisan filament:assets" on install and image build.
/public/css/filament
/public/js/filament
/public/fonts/filament
